asgiref==3.11.1
capstone==5.0.9
comtypes==1.4.16
Django==6.0.6
django-environ==0.14.0
gunicorn==26.0.0
packaging==26.2
pillow==12.3.0
pygame-ce==2.5.7
pygbag==0.9.3
pywin32==312
sqlparse==0.5.5
tzdata==2026.2
win32more==0.8.1
win32more-appsdk==0.8.3
win32more-core==0.8.5
win32more-Microsoft.Graphics.Win2D==0.8.1.4.0
win32more-Microsoft.Web.WebView2==0.8.1.0.4022.49
win32more-Microsoft.Windows.SDK.Contracts==0.8.10.0.28000.2270
win32more-Microsoft.Windows.SDK.Win32Metadata==0.8.71.0.14
win32more-Microsoft.Windows.WDK.Win32Metadata==0.8.0.13.25
win32more-Microsoft.WindowsAppSDK==0.8.2.2.0
